.card {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 340px;
  padding: 50px 30px 50px;

  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  transform: translate3d(-50%, -50%, 0);

  &__title {
    margin-bottom: 50px;

    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    text-align: center;

    color: #1e1e1e;
  }
}
