{{!< base}}

<main>
  <h1>Welcome from project</h1>
  <a href='src/pages/Authorization/authorization.hbs'>Authorization</a>
  <a href='src/pages/SignUp/signup.hbs'>Registration</a>
  <a href='src/pages/Chat/chat.hbs'>Chat</a>
  <a href='src/pages/errors/404.hbs'>404</a>
  <a href='src/pages/errors/500.hbs'>500</a>
</main>
