.button {
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;

  &_blueviolet {
    background: blueviolet;
    color: #FAFAFA;
  }

  &_white {
    color: #3369F3;
    background: #EFEFEF;
  }
}
