<ul class='wrapper'>
  {{#each profiles}}
    <li class='profile__content {{className}}'>
      <h2 class='profile__title'>{{title}}</h2>
      <span class='profile__text'>{{text}}</span>
    </li>
  {{/each}}
</ul>
