<ul class='info'>
  {{#each profiles}}
    <li class='info__content {{className}}'>
      <h2 class='info__title'>{{title}}</h2>
      <span class='info__text'>{{text}}</span>
    </li>
  {{/each}}
</ul>