@import url(../../normalize.scss);
@import url(../../fonts/fonts.css);
@import url(../../../src/pages/authorization/authorization.scss);
@import url(../../../src/pages/chat/chat.scss);
@import url(../../../src/pages/profile/profile.scss);


html, body {
  height: 100%;
}

body {
  color: #252934;
  background: #fafafa;
  font-size: 62.5%;
  font-family: 'Faro Sad', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
