@font-face {
  src: url(./Faro-RegularSad.woff);
  font-family: 'Faro Sad';
  font-weight: normal;
}

@font-face {
  src: url(./Faro-BoldSad.woff);
  font-family: 'Faro Sad';
  font-weight: bold;
}

@font-face {
  src: url(./Faro-LightSad.woff);
  font-family: 'Faro Sad';
  font-weight: light;
}
