@font-face {
  src: url("Faro-RegularSad.woff") format("woff");
  font-family: 'Faro Sad';
  font-weight: normal;
}

@font-face {
  src: url("Faro-BoldSad.woff") format("woff");
  font-family: 'Faro Sad';
  font-weight: bold;
}
