<!doctype html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Authorization</title>
    <link rel="stylesheet" href="./authorization.scss">
</head>

<main>
    <div class="popup" id="popup__add">
        <h1 class="popup__title">Вход</h1>
        <form class="popup__form popup__form_new" name="new" novalidate>
            <input type="text" id="login" name="login" minlength="2" maxlength="30" required placeholder="Логин"/>
            <span id="login-error" class="error error_login"></span>
            <input class="popup__input" type="text" id="password" name="password" minlength="6" maxlength="30" required placeholder="Пароль"/>
            <span id="password-error" class="error error_password"></span>
            <button type="submit" id="submit" class="popup__button" disabled>Авторизоваться</button>
        </form>
        <a class="popup__link" href="../registration/registration.hbs"><h2>Нет аккаунта?</h2></a>
    </div>
</main>
</html>


