<!doctype html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Chat</title>
    <link rel="stylesheet" href="./chat.scss">
</head>
<main>
    <div class="chat" >
        <div class="chat__list" >
            <a class="chat__profile" href="../profile/profile.hbs">
                Профиль &#8827
            </a>
            <input id="search" class="chat__input" placeholder="Поиск">
            <div class="chat__users">
                <div class="chat__user">
                    <img class="chat__img" src="../../../static/img/female.jpeg" alt="avatar">
                    <div class="chat__info">
                        <h2 class="chat__title">Name</h2>
                            <h3 class="chat__subtitle">Ты: <span class="chat__text">Это может быть самый длинный текст в мире, но я постараюсь его вписать в это ограниченное пространство</span></h3>
                    </div>
                    <div class="chat__helper">
                        <button type="button" class="chat__button">X</button>
                        <span class="chat__time">12:34</span>
                    </div>
                    <div class="chat__count">
                        3
                    </div>
                </div>
                <div class="chat__user">
                    <img class="chat__img" src="../../../static/img/male.jpeg" alt="avatar">
                    <div class="chat__info">
                        <h2 class="chat__title">Feel</h2>
                        <h3 class="chat__subtitle">Ты: <span class="chat__text">Это может быть самый длинный текст в мире, но я постараюсь его вписать в это ограниченное пространство</span></h3>
                    </div>
                    <div class="chat__helper">
                        <button type="button" class="chat__button">X</button>
                        <span class="chat__time">12:34</span>
                    </div>
                    <div class="chat__count">
                        13
                    </div>
                </div>
                <div class="chat__user">
                    <img class="chat__img" src="../../../static/img/female.jpeg" alt="avatar">
                    <div class="chat__info">
                        <h2 class="chat__title">Anya</h2>
                        <h3 class="chat__subtitle">Ты: <span class="chat__text">Это может быть самый короткий текст</span></h3>
                    </div>
                    <div class="chat__helper">
                        <button type="button" class="chat__button">X</button>
                        <span class="chat__time">2:34</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__feed">
            <header class="chat__header">
                <img class="chat__avatar" src="../../../static/img/female.jpeg" alt="avatar">
                <h2 class="chat__name">Name</h2>
                <button type="button" class="chat__menu">&#8942;</button>
            </header>
            <div class="chat__body">
                <h3 class="chat__warning">
                    Выберите чат, чтобы отправить сообщение
                </h3>
            </div>
            <footer class="chat__footer">
                <button type="button" class="chat__clip">&#128206;</button>
                <form id="form_message" class="chat__form" novalidate>
                    <input class="chat__message" type="text" id="message" name="message" placeholder="Сообщение"/>
                    <button type="submit" id="submit" class="chat__menu" >&#11106;</button>
                </form>
            </footer>
        </div>
    </div>
</main>
</html>
