<!doctype html>

<html>
<head>
    <meta charset="utf-8" />
    <title>500</title>
    <link rel="stylesheet" href="./errors.scss">
</head>
<main>
    <div class="error">
        <h1 class="error__title">500</h1>
        <h2 class="error__subtitle">Мы уже фиксим</h2>
        <a href="../chat/chat.hbs" class="error__back">Назад к чатам</a>
    </div>
</main>
</html>
