<div class='profile'>
  <button type='button' class='profile__button'>&#8678;</button>
  <div class='profile__body' id='form_profile'>
    <img
      class='profile__avatar'
      src='https://pixelbox.ru/wp-content/uploads/2021/05/ava-vk-animal-91.jpg'
      alt='avatar'
    />
    <form class='form form__size_medium'>
      <div class='form__field'>
        <div class='form__content'>
          <h2 class='form__title'>Старый пароль</h2>
          {{{inputOldPassword}}}
        </div>
        <span id='oldPassword_edit-error' class='form__error form__error_warning'>Пароль должен быть от 8 до 40 символов</span>
      </div>
      <div class='form__field'>
        <div class='form__content'>
          <h2 class='form__title'>Новый пароль</h2>
          {{{inputNewPassword}}}
        </div>
        <span id='newPassword-error' class='form__error form__error_warning'>Пароль должен быть от 8 до 40 символов</span>
      </div>
      <div class='form__field'>
        <div class='form__content'>
          <h2 class='form__title'>Повторить пароль</h2>
          {{{inputPasswordAgain}}}
        </div>
        <span id='newPassword_again-error' class='form__error form__error_warning'>Пароль должен быть от 8 до 40 символов</span>
      </div>
    </form>
    {{{button}}}
  </div>

</div>
