<!doctype html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Password edit</title>
    <link rel="stylesheet" href="./profile.scss">
</head>
<main>
    <div class="profile">
        <button type="button" class="profile__button">&#8678;</button>
        <form class="profile__body" id="form_profile">
            <img class="profile__avatar" src="../../../static/img/female.jpeg" alt="avatar" />
            <div class="profile__contents">
                <div class="profile__content">
                    <h2 class="profile__title">Старый пароль</h2>
                    <input class="profile__input" type="text" id="oldPassword" name="oldPassword" placeholder="Введите пароль" value="*****"/>
                </div>
                <div class="profile__content">
                    <h2 class="profile__title">Новый пароль</h2>
                    <input class="profile__input" type="text" id="newPassword" name="newPassword" placeholder="Введите новый пароль" value="*******"/>
                </div>
                <div class="profile__content">
                    <h2 class="profile__title">Повторить новый пароль</h2>
                    <input class="profile__input" type="text" id="newPassword" name="newPassword" placeholder="Повторите новый пароль" value="*******"/>
                </div>
            </div>
            <button type="submit" id="submit" class="profile__submit" >Сохранить</button>
        </form>

    </div>
</main>
</html>
