<div class='profile'>
  <button type='button' class='profile__button'>&#8678;</button>
  <div class='profile__body'>
    <img
      class='profile__avatar'
      src='https://pixelbox.ru/wp-content/uploads/2021/05/ava-vk-animal-91.jpg'
      alt='avatar'
    />
    {{{profile}}}
    <div class='profile__footer'>
      <a class='profile__link' href='./profileEdit.hbs'>Изменить данные</a>
      <a class='profile__link' href='./passwordEdit.hbs'>Изменить пароль</a>
      <a class='profile__exit' href='./'>Выйти</a>
    </div>
  </div>
</div>