<!doctype html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Profile</title>
    <link rel="stylesheet" href="./profile.scss">
</head>
<main>
    <div class="profile">
        <button type="button" class="profile__button">&#8678;</button>
        <div class="profile__body">
            <img class="profile__avatar" src="../../../static/img/female.jpeg" alt="avatar" />
            <ul class="profile__contents">
                <li class="profile__content">
                    <h2 class="profile__title">Почта</h2>
                    <span class="profile__text">email</span>
                </li>
                <li class="profile__content">
                    <h2 class="profile__title">Логин</h2>
                    <span class="profile__text">login</span>
                </li>
                <li class="profile__content">
                    <h2 class="profile__title">Имя</h2>
                    <span class="profile__text">first_name</span>
                </li>
                <li class="profile__content">
                    <h2 class="profile__title">Фамилия</h2>
                    <span class="profile__text">second_name</span>
                </li>
                <li class="profile__content">
                    <h2 class="profile__title">Имя в чате</h2>
                    <span class="profile__text">display_name</span>
                </li>
                <li class="profile__content">
                    <h2 class="profile__title">Телефон</h2>
                    <span class="profile__text">phone</span>
                </li>
            </ul>
            <div class="profile__footer">
                <a class="profile__link" href="./profileEdit.hbs">Изменить данные</a>
                <a class="profile__link" href="./passwordEdit.hbs">Изменить пароль</a>
                <a class="profile__exit" href="./">Выйти</a>
            </div>
        </div>

    </div>
</main>
</html>
