.profile {
  width: 100vmax;
  display: flex;
  justify-content: space-between;
  height: 100vh;

  &__button {
    border: 1px solid black;
    border-radius: unset;
  }

  &__body {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
}
