<header class='header'>
  <img class='header__avatar' src={{href}} alt={{alt}} />
  <h2 class='header__name'>{{name}}</h2>
  <button type='button' class='header__menu chat__menu_dots'>&#8942;</button>
</header>